@font-face {
	font-family: 'topfont';
	src: url(./apps/Kiwi_maru.ttf);
}
@font-face {
	font-family: 'tegaki';
	src: url(./apps/yosugara.ttf);
}

body,html{
    margin: 0;
    font-family: topfont, serif;
}
header{
    display: flex;
    height: 50px;
}
header h1{
    margin: 0;
}
header h1 img{
    height: 40px;
    margin: 5px;
}

.top h2{
    font-family: 'tegaki','topfont';
    text-align: center;
    font-size: 8vw;
    margin: 10vh 0 5vh 0;
}
.top img{
    border-radius: 50px;
    border: #ddd 5px solid;
    height: 150px;
    width: 150px;
    padding: 25px;
    margin: 0 calc(50% - 110px);
}
.top h1{
    text-align: center;
    font-size: 8vw;
    font-weight: bold;
    background: linear-gradient(45deg, #054d91, #0771d4); /* 左から右へのグラデーション */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
}
#install{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#install a{
    display: block;
    margin: 10px;
    padding: 1em;
    text-decoration: none;
    border-radius: 10px;
    color: #000;
}
#install a:first-child{
    background: linear-gradient(to right, #063057 50%, #054d91 50%, #0771d4 100%);

    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s ease;
    border: none;
    color: #fff;
    padding: calc(1em + 2px);
}
#install a:last-child{
    background: linear-gradient(to right, #054d91 0%, #0771d4 50%, #fff 50%);

    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s ease;
    border: #333 2px solid;
}
#install a:hover {
    background-position: left bottom;
}


@media screen and (max-width: 800px) {
    .top h2 span{
        display: block;
    }
    .top img{
        height: 100px;
        width: 100px;
        margin-left: calc(50% - 55px);
    }
}