@font-face {
	font-family: 'topfont';
	src: url(./apps/Kiwi_maru.ttf);
}
@font-face {
	font-family: 'tegaki';
	src: url(./apps/yosugara.ttf);
}

body,html{
    margin: 0;
    font-family: topfont, serif;
}
header{
    top: 0;
    height: 50px;
    width: 100px;
    position: fixed;
    display: flex;
    z-index: 2;
    margin: 5px calc(50% - 55px);
    padding: 0 5px;
    background: linear-gradient(45deg, #054d91 0, #0771d4 50%,  #054d91 100%);
    background-size: 200% 100%;
    background-position: left bottom;
    border-radius: 10px;
    transition: background-position 0.3s ease;
}
header:hover{
    background-position: right bottom;
}
header .logo{
    height: 50px;
    width: 50px;
}
header button{
    background: none;
    border: 0;
}
header button img{
    height: 30px;
    padding: 0 5px;
}

.top h2{
    font-family: 'tegaki','topfont';
    text-align: center;
    font-size: 8vw;
    margin: 10vh 0 5vh 0;
}
.top img{
    border-radius: 50px;
    border: #ddd 5px solid;
    height: 150px;
    width: 150px;
    padding: 25px;
    margin: 0 calc(50% - 110px);
}
.top h1{
    text-align: center;
    font-size: 8vw;
    font-weight: bold;
    background: linear-gradient(45deg, #054d91, #0771d4); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
}
#install{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#install a{
    display: block;
    margin: 10px;
    padding: 1em;
    text-decoration: none;
    border-radius: 10px;
    color: #000;
}
#install a:first-child{
    background: linear-gradient(to right, #063057 50%, #054d91 50%, #0771d4 100%);

    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s ease;
    border: none;
    color: #fff;
    padding: calc(1em + 2px);
}
#install a:last-child{
    background: linear-gradient(to right, #054d91 0%, #0771d4 50%, #fff 50%);

    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s ease;
    border: #333 2px solid;
}
#install a:hover {
    background-position: left bottom;
}

#update{
    background: linear-gradient(to right, #054d91 0%, #0771d4 100%);

    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    padding: 50px 0;
}
#update h2{
    text-align: center;
    color: #fff;
}
#update_box{
    padding: 5px;
    margin: 10px;
    border-radius: 1em;
    background-color: #dddddd22;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.update_card:hover{
    background-color: #dddddd33;
}
.update_card{
    margin: 5px 0;
    padding: 10px;
    border-radius: 1em;
}
#update_box hr{
    margin: 0 10px;
    padding: 0;
}
.update_time{
    font-size: small;
    margin: 0;
    color: #ddd;
}
.update_h4{
    margin: 0;
    color: #fff;
    font-size: 1.2em;
}
.update_detil{
    margin: 0;
    color: #fff;
}

#qanda{
    background: linear-gradient(to right, #054d91 0%, #0771d4 100%);
    margin: 10px;
    border-radius: 1em;
    padding: 10px;
}
#qanda h2{
    color: #fff;
    text-align: center;
}
#qanda div{
    background-color: #ffffff17;
    border-radius: 1em;
    padding: 5px;
    margin: 10px 0;
}
#qanda h4,#qanda p{
    color: #fff;
}
#qanda h4{
    margin: 0;
    padding: 0.5em;
    background-color: #ffffff17;
    border-radius: 1em;
}
#qanda h4::before{
    font-size: 1.2em;
    content: "Q";
    color: #ff4a4a;
    padding: 0.25em;
}

#fordev{
    background: linear-gradient(to right, #054d91 0%, #0771d4 100%);

    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    padding: 100px 0 50px 0;
    color: #fff;
    text-align: center;
}
#fordev_repo table{
    background-color: #ffffff17;
    margin: 10px 0;
    border-radius: 1em;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}
#fordev a{
    text-decoration: none;
    background-color: #ffffff30;
    color: #fff;
    padding: 0 10px;
    border-radius: 1em;
}
#fordev a:hover{
    background-color: #ffffff70;
}

.maxwidth400{
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 500px;
    margin: 0 auto;
}

footer{
    background-color: #ddd;
    text-align: center;
    padding: 20px 10px;
}
.link{
    background: linear-gradient(to right, #222222 50%, #555555 50%);
    margin: 5px auto;
    height: 36px;
    border-radius: 23px;
    display: flex;
    width: 300px;
    padding: 5px;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s ease;

}
.link img{
    height: 36px;
    width: 36px;
    border-radius: 50%;
}
.link a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 22px;
}
.link:hover {
    background-position: left bottom;
}
#license{
    background-color: #ffffff00 !important;
}
.license_img{
    height: 50px;
    text-align: center;
    margin: 10px auto 0 auto;
}

footer p{
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 800px) {
    .top h2 span{
        display: block;
        font-size: 13vw;
    }
    .top img{
        height: 100px;
        width: 100px;
        margin-left: calc(50% - 80px);
    }
}
@media screen and (min-width: 1100px) {
    .top h2 span{
        font-size: 80px;
    }
    .top h1{
        font-size: 80px;
    }
    .top img{
        height: 100px;
        width: 100px;
        margin-left: calc(50% - 80px);
    }
}
