@font-face {
	font-family: 'topfont';
	src: url(./apps/Kiwi_maru.ttf);
}
@font-face {
	font-family: 'tegaki';
	src: url(./apps/yosugara.ttf);
}

body,html{
    margin: 0;
    font-family: topfont, serif;
}
header{
    display: flex;
    height: 50px;
}
header h1{
    margin: 0;
}
header h1 img{
    height: 40px;
    margin: 5px;
}

.top h2{
    font-family: 'tegaki','topfont';
    text-align: center;
    font-size: 8vw;
    margin: 10vh 0 5vh 0;
}
.top img{
    border-radius: 50px;
    border: #ddd 5px solid;
    height: 150px;
    width: 150px;
    padding: 25px;
    margin: 0 calc(50% - 110px);
}
.top h1{
    text-align: center;
    font-size: 8vw;
    font-weight: bold;
    background: linear-gradient(45deg, #054d91, #0771d4); /* 左から右へのグラデーション */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
}

#install a{
    display: block;
    text-align: center;
    margin: 10px calc(50% - 100px);
    padding: 1em;
    text-decoration: none;
    border-radius: 15px;
    border: #333 2px solid;
}
#install .host{
    background: linear-gradient(45deg, #054d91, #0771d4);
    border: none;
    color: #fff;
}