@font-face {
	font-family: 'topfont';
	src: url(Kiwi_maru.ttf);
}
html{
    font-family: topfont, serif;
}

body{
	margin: 0;
}

                html,body{
                    margin: 0;
                    text-align: center;
                }